<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <meta name="description"
          th:if="${description != null and !description.trim().isEmpty()}"
          th:content="${description}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="main"></div>
<redoc spec-url="../docs.json"></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js"></script>
</body>
</html>
